<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Matemáticas y Computación</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="shorcut icon" type="img/x-icon" href="../img/favicon.ico">

</head>

<body>
    <div class="contenedor">
        <div class="encabezado col-md-12">
            <h1>Matemáticas y Computación</h1>
        </div>
        
        <div class="cuerpo">
            <div class="menu col-md-3">
                <div class="encabezadomenu col-md-12">
                    <h2>Menú</h2>
                </div>
                
                <div class="btnmenu col-md-12">
                    <a href="lineales.html">
                        <div class="btn">
                            Ecuaciones Lineales
                        </div>
                    </a>

                  
                    
                    <a href="sistemas.html">
                        <div class="btn">
                            Sistemas Ecuaciones
                        </div>
                    </a>

                    <a href="aritmeticas.html">
                        <div class="btn">
                            Progreciones Aritméticas
                        </div>
                    </a>

                    <a href="geometricas.html">
                        <div class="btn">
                            Progreciones Geometricas
                        </div>
                    </a>

                    <a href="permutacion.html">
                        <div class="btn">
                            Permutación
                        </div>
                    </a>

                    <a href="variacion.html">
                        <div class="btn">
                            Variación
                        </div>
                    </a>

                    <a href="combinacion.html">
                        <div class="btn">
                            Combinación
                        </div>
                    </a>
                </div>
            </div>

            <div class="contenido col-md-9">
                <h2 class="subtitulo">Progreciones Geometricas</h2>

                <h3>1<sup>ra</sup> Formula:</h3>
                <br />
                <form name="lineal">
                    a<sub>1</sub>=<input class="var" type="text" id="a1" />
                    a<sub>n=</sub><input class="var" type="text" id="an" />
                    r=<input class="var" type="text" id="r" />
                    <br />
                    <br />
                    <input class="formbtn" onclick="resolver()" type="button" value="Resolver" />
                </form>

                <br>
                <p id="operacion"> </p>
                <p id="resultado"> </p>
                <p id="progrecion"> </p>
                <hr >

                <h3>2<sup>da</sup> Formula:</h3>
                <br />
                <form name="lineal2">
                    a<sub>1</sub>=<input class="var" type="text" id="a1_2" />
                    a<sub>2</sub>=<input class="var" type="text" id="a2_2" />
                    a<sub>n=</sub><input class="var" type="text" id="an_2" />
                    <br />
                    <br />
                    <input class="formbtn" onclick="resolver2()" type="button" value="Resolver" />
                </form>

                <script src="../script/geometricas.js"></script>
                <br>
                <p id="operacion2"> </p>
                <p id="resultado2"> </p>
                <p class="ultimoP" id="progrecion2"> </p>

            </div>
        </div>

        </div>
    </div>
</body>

</html>